@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/pics/beach.jpg" class="banner"/>
</div>

<!--Banner viewdata-->
<div class="bannerText"><p>@ViewData["Banner"]</p></div>